
.tint-dark {
    background: linear-gradient(45deg, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.55) 15%,rgba(0,0,0,0) 75%,rgba(0,0,0,0) 100%);
}
.tint-light {
    background: linear-gradient(to top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.9) 50%,rgba(255,255,255,0.8) 100%);
}
.bg-blue-dark-trans {
    color: white;
    // @supports (backdrop-filter: blur(5px)) or (-webkit-backdrop-filter: blur(5px)) {
    //     background-color: hsla(203, 47%, 29%, 0.5); // there's no native tailwind way to do this yet. plugins coming
    //     @include bg-blur(5px);
    // }
    background-color: hsla(203, 47%, 29%, 0.9);
}
.bg-green-dark-trans {
    color: white;
    // @supports (backdrop-filter: blur(5px)) or (-webkit-backdrop-filter: blur(5px)) {
    //     background-color: hsla(99, 13%, 30%, 0.5); // there's no native tailwind way to do this yet. plugins coming
    //     @include bg-blur(5px);
    // }
    background-color: hsla(99, 13%, 30%, 0.8);
}
.bg-tan-trans {
    color: black;
    // @supports (backdrop-filter: blur(5px)) or (-webkit-backdrop-filter: blur(5px)) {
    //     background-color: hsla(48, 20%, 95%, 0.5); // there's no native tailwind way to do this yet. plugins coming
    //     @include bg-blur(5px);
    // }
    background-color: hsla(48, 20%, 95%, 0.9);
}

// [class*="-dark"], // set default text colors for containers. need a tailwind-native route 
.bg-gray-500, .bg-gray-600, .bg-gray-700, .bg-gray-800, .bg-gray-900, .bg-black {
    color: white;
}

// [class*="-light"], [class*="-bright"], 
.bg-white, .bg-gray-100, .bg-gray-200, .bg-gray-300, .bg-gray-400,  {
    color: black;
}
.bg-white-grad {
    color: black;
    background: white;
    background: linear-gradient(180deg, rgba(255,255,255,1) 10%, rgba(255,255,255,0) 46%); 
}
.border-bright {
    border-image: linear-gradient(to bottom, #00EE7B -4.44%, #00DAF8 95.67%);
    border-image-slice: 1;
}
