@responsive {
  .section-pad {
    padding-top: calc(10vh + 2rem);
    padding-bottom: calc(10vh + 2rem);
  }

  .section-pad-b {
    padding-bottom: calc(10vh + 2rem);
  }

  .section-pad-t {
    padding-top: calc(10vh + 2rem);
  }
  .section-pad-sm {
    padding-top: calc(5vh + 1rem);
    padding-bottom: calc(5vh + 1rem);
  }

  .section-pad-b-sm {
    padding-bottom: calc(5vh + 1rem);
  }

  .section-pad-t-sm {
    padding-top: calc(5vh + 1rem);
  }
}
// ====== containers - these will scale with viewport at different rates. 
.pad-scale {
  padding: 2rem;
  padding: calc(2rem + 2vw);
  @screen lg {
    padding: calc(4rem + 2vw);
  }
  &-sm {
    padding-top: 1rem;
    padding-bottom: 1rem;
    @screen md {
      padding-top: calc(1rem + 2vw);
      padding-bottom: calc(1rem + 2vw);
    }
  }
  &-md {
    padding-top: 2rem;
    padding-bottom: 2rem;
    @screen md {
      padding-top: calc(2rem + 3vw);
      padding-bottom: calc(2rem + 3vw);
    }
  }
  &-lg {
    padding-top: 2rem;
    padding-bottom: 2rem;
    @screen md {
      padding-top: calc(2rem + 8vw);
      padding-bottom: calc(2rem + 8vw);
    }
  }
  &-xl {
    padding-top: 3rem;
    padding-bottom: 3rem;
    @screen md {
      padding-top: calc(2rem + 10vw);
      padding-bottom: calc(2rem + 10vw);
    }
  }
}