// @responsive {
//   .section-pad {
//     padding-top: calc(10vh + 2rem);
//     padding-bottom: calc(10vh + 2rem);
//   }

//   .section-pad-b {
//     padding-bottom: calc(10vh + 2rem);
//   }

//   .section-pad-t {
//     padding-top: calc(10vh + 2rem);
//   }
//   .section-pad-sm {
//     padding-top: calc(5vh + 1rem);
//     padding-bottom: calc(5vh + 1rem);
//   }

//   .section-pad-b-sm {
//     padding-bottom: calc(5vh + 1rem);
//   }

//   .section-pad-t-sm {
//     padding-top: calc(5vh + 1rem);
//   }
// }
// ====== containers - these will scale with viewport at different rates. 
.pad-scale {
  padding: 2rem;
  padding: calc(2rem + 2vw);
  &-sm {
    padding: 2rem;
    padding: calc(1rem + 1vw);
  }
  &-md {
    padding: 2rem;
    padding: calc(1.2rem + 3vw);
  }
  &-y-sm {
    padding: 2rem;
    padding-top: calc(1rem + 2vw);
    padding-bottom: calc(1rem + 2vw);
  }
  &-y-md {
    padding: 2rem;
    padding-top: calc(2rem + 3vw);
    padding-bottom: calc(2rem + 3vw);
  }
  &-y-lg {
    padding: 2rem;
    padding-top: calc(2rem + 8vw);
    padding-bottom: calc(2rem + 8vw);
  }
  &-y-xl {
    padding: 2rem;
    padding-top: calc(2rem + 10vw);
    padding-bottom: calc(2rem + 10vw);
  }
}