// :root {
//     --bg-color: @apply bg-gray-100;
// }

body {
    background-color: var(--bg-color);
}
.z--10 { // other z settings in tailwind
    z-index: -10;
}

// Add a margin be default, since we always want to have it.
.container {
    @apply mx-auto;
}

.tint-dark {
    background: linear-gradient(45deg, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.55) 15%,rgba(0,0,0,0) 75%,rgba(0,0,0,0) 100%);
}
.tint-light {
    background: linear-gradient(to top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.9) 50%,rgba(255,255,255,0.8) 100%);
}
.text-shadow-tight {
    text-shadow: 1px 2px 3px rgba(0,0,0,0.2);
}
// .text-shadow {
//     text-shadow: 1px 2px 5px rgba(0,0,0,0.5);
// }
.text-shadow-xl {
    text-shadow: 1px 1px 2px rgba(0,0,30,0.4), 1px 2px 40px rgba(0,0,30,0.3);
}
.max-w-site { //easier to remember
	@apply .max-w-7xl;
}
// hr {
//     &.green {
//         @apply border-t border-green mx-auto w-40 my-4;
//     }
// }
.bg-blue-dark-trans {
    color: white;
    // @supports (backdrop-filter: blur(5px)) or (-webkit-backdrop-filter: blur(5px)) {
    //     background-color: hsla(203, 47%, 29%, 0.5); // there's no native tailwind way to do this yet. plugins coming
    //     @include bg-blur(5px);
    // }
    background-color: hsla(203, 47%, 29%, 0.9);
}
.bg-green-dark-trans {
    color: white;
    // @supports (backdrop-filter: blur(5px)) or (-webkit-backdrop-filter: blur(5px)) {
    //     background-color: hsla(99, 13%, 30%, 0.5); // there's no native tailwind way to do this yet. plugins coming
    //     @include bg-blur(5px);
    // }
    background-color: hsla(99, 13%, 30%, 0.8);
}
.bg-tan-trans {
    color: black;
    // @supports (backdrop-filter: blur(5px)) or (-webkit-backdrop-filter: blur(5px)) {
    //     background-color: hsla(48, 20%, 95%, 0.5); // there's no native tailwind way to do this yet. plugins coming
    //     @include bg-blur(5px);
    // }
    background-color: hsla(48, 20%, 95%, 0.9);
}

// [class*="-dark"], // set default text colors for containers. need a tailwind-native route 
.bg-gray-500, .bg-gray-600, .bg-gray-700, .bg-gray-800, .bg-gray-900, .bg-black {
    color: white;
}

// [class*="-light"], [class*="-bright"], 
.bg-white, .bg-gray-100, .bg-gray-200, .bg-gray-300, .bg-gray-400,  {
    color: black;
}
.bg-white-grad {
    color: black;
    background: white;
    background: linear-gradient(180deg, rgba(255,255,255,1) 10%, rgba(255,255,255,0) 46%); 
}
// .pill {
//     display:inline-block;
//     line-height:0px;
//     border-radius:50%;
//     font-size: 1.8rem;
// }

// .pill span {
//     // color: white;
//     display:inline-block;
//     padding-top:    50%;
//     padding-bottom: 50%;
//     margin-left:  12px;
//     margin-right: 12px;
// }

.bg-blur {
    @include bg-blur(5px);
}
.mask-right {
    @include mask-right;
}
.slide-right { // easy anim for button icons
    transition: all 200ms ease-in-out;
}
.border-bright {
    border-image: linear-gradient(to bottom, #00EE7B -4.44%, #00DAF8 95.67%);
    border-image-slice: 1;
}