<!-- block: col_text -->
<section class="blocks block-col-text pad-scale {{ if color_theme }}bg-{{ color_theme }}{{ /if }} lozad bg-cover bg-no-repeat" 
    {{ if block_bg_image }}
        data-background-image="{{ block_bg_image }}"
    {{ /if }}
    >
    <div class="max-w-6xl mx-auto mb-6">
        {{ block_title | wrap:h2.headline-3.text-center }}
    </div>
    <div class="w-full max-w-6xl mx-auto flex flex-col sm:flex-row sm:justify-center">
        {{ content_columns }}
            <div class="block-col-text--item w-full md:w-1/2 lg:w-1/4 mb-6">
                {{ if item_art }}
                <img class="lozad h-24" 
                    {{#{{ assets:item_art }}data-src="{{ glide:id height="400" }}" src="{{ glide:id height="400" crop="focal_crop" quality="10" }}" {{ /assets:item_art }}
                    #}}
                    data-src="{{ assets:item_art }}{{ item_art }}{{ /assets:item_art }}" 
                    src="/assets/site/loader-rect.svg"
                />
                    {{# svg src="{ item_art }" class="fill-current icon-inline {{ if icon_align != 'right' }} {{ icon_align }}{{ /if }}" a11y="icon" #}}
                {{ /if }}
                {{ if item_header }}
                    {{ item_header | wrap:h3.headline-4.mb-2 }}
                {{ /if }}
                {{ if item_content }}
                    {{ item_content | markdown | wrap:div.item-content }}
                {{ /if }}
            </div>
        {{ /content_columns }}
    </div>
</section>
{{# move these to stylesheets #}}
<style>
    .block-col-text .block-col-text--item {
        padding-right: 1rem;
    }
</style>