<!-- block: text_image -->
<section class="blocks block-text-image pad-scale-y-lg w-full {{ classes }}">
    <div class="p-4 md:p-6 lg:p-3 w-full max-w-6xl mx-auto flex flex-col md:flex-row justify-center items-center">
        <div class="w-auto mb-6 md:w-1/2 md:pr-12">
            <h2 class="headline-3 ">{{ block_title }}</h2>
            {{ block_body | markdown | wrap:div.text-xl.inline-content }}
            {{ if button_label }}
                <a href="#{{ button_anchor }}" class="button {{ button_classes }}">{{ button_label }}
                    {{ if button_icon }}
                    {{ svg src="{{ button_icon }}" class="icon-inline slide-down fill-current" a11y="arrow" }}
                    {{ /if }}
                </a>
            {{ /if }}
        </div>
        <div class="w-auto md:w-1/2">
            {{ if block_image }}
            <img class="lozad w-auto" 
            {{ assets:block_image }}
            data-src="{{ glide:id width="800" }}" src="{{ glide:id width="800" quality="10" }}"
            {{ /assets:block_image }}
            {{# src="/assets/site/loader-rect.svg" #}}
            />
            {{ /if }}
        </div>
    </div>
</section>
{{# move these to stylesheets #}}
<style>

</style>