<a class="{{ classes }} rounded card card-hover shadow hover:shadow-lg transition-all bg-white flex justify-start items-stretch"
    href="{{ url }}" title="Read {{ title }} in {{ collection | title }}"
>
    {{ if featured_image }}
        <div class="w-1/4">
            <img class="lozad rounded-sm object-cover w-full h-full" 
                {{ assets:featured_image }}data-src="{{ glide:id width="400" height="400" crop="focal_crop" }}" src="{{ glide:id width="200" height="200" crop="focal_crop" quality="10" }}" {{ /assets:featured_image }}
            />
        </div>
    {{ /if }}
    <div class="{{ if featured_image }}w-3/4 {{ /if }}pad-scale-sm">
        <div class="date text-xs font-bold tracking-widest uppercase">{{ pub_date format="F j, Y" }}</div>
        <h3 class="headline-4 font-bold mb-2">{{ title }}</h3>
        {{ summary | wrap:div.mb-6 }}
        <div class="flex flex-col md:flex-row md:justify-between md:items-end">
        {{ relate:author use_context="true" }}
            {{ partial:person classes="" }}
        {{ /relate:author }}
        {{ if tags }}
            <div class="">
                {{ partial:tag-list-plain }}
            </div>
        {{ /if }}
        </div>
    </div>
</a>

