<div class="{{ classes }} card card-hover bg-white flex justify-start items-stretch max-w-3xl mb-8">
    {{ if featured_image }}
        <div class="w-1/3">
            <img class="lozad rounded-sm object-cover w-full h-full" 
                {{ assets:featured_image }}data-src="{{ glide:id width="200" height="200" crop="focal_crop" }}" src="{{ glide:id width="200" height="200" crop="focal_crop" quality="10" }}" {{ /assets:featured_image }}
            />
        </div>
    {{ /if }}
    <div class="{{ if featured_image }}w-2/3 {{ /if }}p-6">
        <div class="date text-xs font-bold tracking-widest uppercase">{{ pub_date format="F j, Y" }}</div>
        <h3 class="headline-4 font-bold"><a href="{{ url }}" title="Read {{ title }}">{{ title }}</a></h3>
        {{ summary | wrap:div.text-sm }}
    </div>
</div>

