{{# content block replicator partial #}}
<!-- partials/content_blocks -->
{{ if blocks }}
<section class="content-blocks bg-color">
    {{ blocks }}
    <!-- partial:sets/{{ type }} -->
    {{ partial src="sets/{type}" }}
    {{ /blocks }}
</section>
{{ /if }}
<style>
	:root {
        --bg-color: var(--color-gray-800);
        --text-color: var(--color-white);
	}
	.bg-color {
        background-color: var(--bg-color);
        color: var(--text-color);
	}
	@media (min-width: 1400px) {
		.masthead {
			padding-left: 0rem;
		}
	}
</style>