<style>
    .event-card-grid {
        display: grid;
        grid-template-rows: auto auto;
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
        justify-items: stretch;
        align-items: stretch;
        grid-template-columns: 100%;
    }
    @media (min-width: 480px) {
        .event-card-grid {
            grid-template-columns: 66% 33%;
        }
    }
</style>
<div class="event-card-grid">
    <div class="event-title">
        <div class="date text-xs font-bold tracking-widest uppercase">{{ pub_date format="F j, Y" }}</div>
        <h1 class="headline-3">{{ title }}</h1>
    </div>
    <div class="event-logo">
        {{ if event_logo }}
            <img class="lozad h-8" {{ assets:event_logo }}data-src="{{ event_logo }}" {{ /assets:event_logo }} />
        {{ /if }}
    </div>
    <div class="event-desc markdown">
        {{ if lead }}{{ lead | markdown | wrap:div.text-lg.mb-6 }}{{ /if }}
        {{ content }}
    </div>
    <div class="event-meta">
        {{ if featured_image }}
        <img class="lozad" {{ assets:featured_image }}data-src="{{ glide:id width="800" }}" {{ /assets:featured_image }} />
        {{ /if }}
        {{ if event_related_people }}
            {{ relate:event_related_people scope="entry" }}
                {{ partial:author }}
            {{ /relate:event_related_people }}
        {{ /if }}
        {{ if event_tags }}
            {{ partial:tag_list }}
        {{ /if }}
    </div>
</div>
{{# 
        <aside class="block w-full items-start md:w-1/3 lg:w-2/5 xl:max-w-md">
                {{ if topics }}
                {{ relate:discovery_topic }}
                    <div class="mb-8 lg:mb-12">
                        <div class="text-reg font-bold tracking-widest uppercase mb-2"><span class="font-light">Explore</span> {{ title }}</div>
                        {{ summary | wrap:div.text-sm.mb-4 }}
                        {{ if related_video }}
                            {{ relate:related_video }}
                                {{ custom_form }}
                            {{ /relate:related_video }}
                        {{ /if }}
                    </div>
                {{ /relate:discovery_topic }}
                
                {{ /if }}
                {{ if related_entries }}
                    <h4 class="headline-4 spaced-out mb-6">Related</h4>
                    {{ relate:related_entries }}
                        {{ partial:related-article size="small" }}
                    {{ /relate:related_entries }}
                {{ /if }}
                <div class="mb-4">
                </div>
            
        </aside>
     #}}