<footer class="list article-footer flex justify-between">
{{ collection:previous in={ segment_1 } limit="1" as="prev_posts" }}
<div class="w-auto md:w-1/2">
    {{ unless no_results }}
        <h6 class="uppercase text-bold text-xs">Previously</h6>
        <div class="leading-tight mx-auto">
            {{ prev_posts scope="tag" }}
                {{# {{ partial:block }} #}}
                <a class="text-sm w-1/2 mr-4" href="{{ url }}" title="Read {{ title }}">
                    {{ title | wrap:h4.text-sm.font-bold }}
                </a>
            {{ /prev_posts }}
        </div>
    {{ /unless }}
</div>
{{ /collection:previous }}
{{ collection:next in={ segment_1 } limit="1" as="next_posts" }}
<div class="w-auto md:w-1/2 text-right">
    {{ unless no_results }}
        <h6 class="uppercase text-bold text-xs">Next</h6>
        <div class="leading-tight mx-auto">
            {{ next_posts scope="tag" }}
                {{# {{ partial:block }} #}}
                <a class="text-sm w-1/2 mr-4" href="{{ url }}" title="Read {{ title }}">
                    {{ title | wrap:h4.text-sm.font-bold }}
                </a>
            {{ /next_posts }}
        </div>
    {{ /unless }}
</div>
{{ /collection:next }}
</footer>
{{# </div>
    <a href=""> 
        <div class="uppercase text-bold text-xs">Previous post</div>
        <div class="text-sm">The Lost Relics of Aleppo </div></a>
        <a href=""> 
        <div class="uppercase text-bold text-xs text-right">Next post</div>
        <div class="text-sm">Paintings of the Levant</div>
    </a></div> #}}