<a class="card card-hover" href="{{ url }}">
    <div class="bg-white max-w-md overflow-hidden shadow-lg">
        <header class="bg-gray-500 lozad bg-cover" {{ assets:featured_image }}data-background-image="{{ glide:id width="600" height="240" }}" {{ /assets:featured_image }}">
            <h4 class="p-4 text-right text-sm font-bold tracking-widest uppercase mb-2 text-white">blog</h4>
            <h3 class="mt-10 font-bold text-xl bg-gray-900 inline-block pl-6 pr-2 py-2 text-white leading-tight max-w-xs">{{ title }}</h3>
        </header>
        {{ summary | wrap:p.text-gray-700.text-sm.px-6.py-4.mb-0 }}
        {{ if tags }}
            <div class="px-6 pb-6">
                {{ partial:tag_list }}
            </div>
        {{ /if }}
    </div>
</a>
