$fam-serif: 'Source Serif Pro';
$fam-sans: '"GT America"';
@font-face{
    src: url('/site/themes/main/fonts/gt-america-light.woff2') format('woff2');
    font-family: $fam-sans;
    font-display: swap;
    font-weight: 300;
}
// @font-face{
//     src: url('/site/themes/main/fonts/gt-america-light-italic.woff2') format('woff2');
//     font-family: $fam-sans;
//     font-display: swap;
//     font-weight: 300;
//     font-style: italic;
// }

@font-face{
    src: url('/site/themes/main/fonts/gt-america-regular.woff2') format('woff2');
    font-family: $fam-sans;
    font-display: swap;
    font-weight: 400;
}
@font-face{
    src: url('/site/themes/main/fonts/gt-america-regular-italic.woff2') format('woff2');
    font-family: $fam-sans;
    font-display: swap;
    font-weight: 400;
    font-style: italic;
}

@font-face{
    src: url('/site/themes/main/fonts/gt-america-medium.woff2') format('woff2');
    font-family: $fam-sans;
    font-display: swap;
    font-weight: 500;
}
@font-face{
    src: url('/site/themes/main/fonts/gt-america-medium-italic.woff2') format('woff2');
    font-family: $fam-sans;
    font-display: swap;
    font-weight: 500;
    font-style: italic;
}

@font-face{
    src: url('/site/themes/main/fonts/gt-america-bold.woff2') format('woff2');
    font-family: $fam-sans;
    font-display: swap;
    font-weight: 700;
}
@font-face{
    src: url('/site/themes/main/fonts/gt-america-bold-italic.woff2') format('woff2');
    font-family: $fam-sans;
    font-display: swap;
    font-weight: 700;
    font-style: italic;
}

// serif fonts - used in quotes, DSHF copy. Source Serif Pro is still in development, with no italics; Charter is a very close subsitute.

@font-face{
    src: url('/site/themes/main/fonts/SourceSerifPro-Regular.ttf.woff2') format('woff2');
    font-family: $fam-serif;
    font-display: swap;
    // font-weight: 400;
}


@font-face{
    src: url('/site/themes/main/fonts/SourceSerifPro-It.ttf.woff2') format('woff2');
    font-family: $fam-serif;
    font-display: swap;
    // font-weight: 400;
    font-style: italic;
}

// SourceSerifPro-Bold.ttf.woff
// SourceSerifPro-Bold.ttf.woff2
// SourceSerifPro-It.ttf.woff
// SourceSerifPro-It.ttf.woff2
// SourceSerifPro-Regular.ttf.woff
// SourceSerifPro-Regular.ttf.woff2