.icon {
    &-inline {
        vertical-align: baseline;
        width: 1em; // using 1em here makes it same height as text, good for inline
        height:1em;
        margin-bottom: -0.1em; // slight nudge down
    }
}

svg {
    @apply fill-current inline-block;
}