{{#

    This template is the default page and entry template that will load.

#}}

{{ partial:page_hero }}

{{ partial:content_blocks }}

{{ if mount }}
{{ partial:list_{{mount}} }}
{{ /if }}

{{# svg src="/assets/site/datica-branding-logos-symbol.svg" a11y="logos" #}}
{{ svg src="/assets/site/datica-logo-horiz.svg" a11y="logo" width="222" height="90" class="h-12 m-4" }}
<!-- <svg class="nav-logo" id="datica-logo-desktop"><use class="symbol-icon" href="#datica-logo-horiz" xlink:href="#datica-logo-horiz" width="220"></use></svg> -->