<style>
	:root {
		--bg-color: var(--bg-light);
	}
</style>
<header class="text-center pad-scale-y-sm max-w-xl mx-auto z-0">
    <h1 class="headline-2 font-medium mb-2">{{ title }}</h1>
    <div class="">
        <form action="/search" method="GET" role="search">
            <input class="search icon-search icon-left w-64 mb-2" type="search" name="q" placeholder="{{ get:q or 'Search' }}" />
            <button class="button text-sm mb-2">Search</button>
        </form>
    </div>
</header>
<main class="mx-auto max-w-6xl pad-scale-y-md z-0">
    <h4 class="headline-5 mb-12 text-center">Showing {{ results | count }} results for "{{ get:q }}".</h4>
    <div class="max-w-3xl mx-auto">
    {{ search:results supplement_data="true" from="academy|blog|events|webinars|press" limit="20" }}
    <div class="mb-8">
        {{ if no_results }}
            <h4 class="headline-5">We didn't find anything for "{{ get:q }}".</h4>
            <p>Try searching with another term. </p>
        {{ elseif is_entry=="true" }}
            {{ if collection == "academy" || collection == "blog" }}
                {{ partial:academy-card-h classes="" show_collection="true" }}
            {{ /if }}
            {{# {{ if collection == "blog" }}
                {{ partial:article-card-h classes="" show_collection="true" }}
            {{ /if }} #}}
            {{ if collection == "events" }}
                {{ partial:event-card-sm classes="" show_collection="true" }}
            {{ /if }}
            {{ if collection == "cta" }}
                {{ if share_image }}
                <div class="pad-scale-y-md">
                    {{ partial:cta classes="max-w-md block card-hover" }}
                </div>
                {{ /if }}
            {{ /if }}
        {{ /if }}
    </div>
    {{ /search:results }}
    </div>
</section>
{{ if featured_image }}
	<aside class="featured-image top-0 z--10 w-full absolute">
		<img class="mask-bottom w-full lozad" {{ assets:featured_image }}data-src="{{ glide:id width="1800" height="700" }}" {{ /assets:featured_image }} />
	</aside>
{{ /if }}