
{{# {{ partial:page_hero }} #}}

{{# {{ partial:content_blocks }} #}}

<section class="lozad pad-scale-xl bg-repeat" data-background-image="{{ theme:img src="pattern-blue.png" }}">
<div class="mx-auto max-w-6xl text-center">
    <h1 class="text-4xl-scale leading-none mb-8 text-shadow-expansive {{ if !subhead }}mt-auto{{ /if }}">Thank you!</h1>
    <hr class="gold my-6">
    <p class="text-xl mx-auto max-w-xl mb-2">Your message has been sent.</p>
    <p class="text-xl mx-auto max-w-xl mb-12">One of our staff will contact you as soon as possible.</p>
    <a class="btn btn-primary" href="/" title="Home">Back to home</a>
</div>
</section>