<style>
    .event-card-grid {
        display: grid;
        grid-template-rows: auto auto;
        grid-column-gap: calc(1rem + 1vw);
        grid-row-gap: calc(1rem + 1vw);
        justify-items: stretch;
        align-items: stretch;
        grid-template-columns: 100%;
    }
    @media (min-width: 576px) {
        .event-card-grid {
            grid-template-columns: 50% 50%;
        }
    }
    @media (min-width: 768px) {
        .event-card-grid {
            grid-template-columns: 66% 33%;
        }
    }
</style>
{{ partial:date-range }}
<div class="event-card-grid">
    <div class="event-title">
        <h1 class="headline-3 leading-tighter">{{ title }}</h1>
    </div>
    <div class="event-logo">
        {{ if event_logo }}
            <img class="lozad h-8" {{ assets:event_logo }}data-src="{{ event_logo }}" {{ /assets:event_logo }} />
        {{ /if }}
    </div>
    <div class="event-desc markdown">
        {{ if lead }}{{ lead | markdown | wrap:div.text-lg.mb-6 }}{{ /if }}
        {{ content }}
    </div>
    <div class="event-meta">
        {{ if featured_image }}
        <img class="lozad mb-6" {{ assets:featured_image }}data-src="{{ glide:id width="800" }}" {{
        /assets:featured_image }} />
        {{ /if }}
        {{ if event_related_people }}
            {{ relate:event_related_people scope="entry" }}
                {{ partial:person classes="mb-3" }}
            {{ /relate:event_related_people }}
        {{ /if }}
        {{ if event_tags }}
            <div class="flex items-center flex-wrap">
                {{ svg src="/assets/icons/icon-tag.svg" class="fill-current text-gray-500 w-6" a11y="tag" }}
                {{ event_tags }}
                   <a class="label info rounded-full text-gray-700 bg-gray-300 text-xs px-2 py-1 ml-2" href="{{ url }}">{{ value }}</a>
                {{ /event_tags }}
            </div>
        {{ /if }}
    </div>
</div>
{{# 
        <aside class="block w-full items-start md:w-1/3 lg:w-2/5 xl:max-w-md">
                {{ if topics }}
                {{ relate:discovery_topic }}
                    <div class="mb-8 lg:mb-12">
                        <div class="text-reg font-bold tracking-widest uppercase mb-2"><span class="font-light">Explore</span> {{ title }}</div>
                        {{ summary | wrap:div.text-sm.mb-4 }}
                        {{ if related_video }}
                            {{ relate:related_video }}
                                {{ custom_form }}
                            {{ /relate:related_video }}
                        {{ /if }}
                    </div>
                {{ /relate:discovery_topic }}
                
                {{ /if }}
                {{ if related_entries }}
                    <h4 class="headline-4 spaced-out mb-6">Related</h4>
                    {{ relate:related_entries }}
                        {{ partial:related-article size="small" }}
                    {{ /relate:related_entries }}
                {{ /if }}
                <div class="mb-4">
                </div>
            
        </aside>
     #}}