<nav class="nav nav-desktop hidden md:block w-full" data-theme="none">
    <ul class="menu horizontal justify-center menu-secondary">
        <li class="menu-item mt-3"> <a href="/about/" title="Background on the company" class="menu-header menu-item--link" aria-current="page">About Us</a></li>
        <li class="menu-item mt-3"> <a href="/leadership/" title="The team guiding Datica" class="menu-header menu-item--link">Leadership</a></li>
        <li class="menu-item mt-3"> <a href="/blog/" title="News and notes from the Datica team" class="menu-header menu-item--link">Datica Blog</a></li>
        <li class="menu-item mt-3"> <a href="/careers/" title="Job opportunities at Datica" class="menu-header menu-item--link">Careers</a></li>
        <li class="menu-item mt-3"> <a href="/press/" title="Full press background, and information for media outlets" class="menu-header menu-item--link">Press</a></li>
        <li class="menu-item mt-3"> <a href="/events/" title="Datica events, past and future." class="menu-header menu-item--link">Events</a></li>
        <li class="menu-item mt-3"> <a href="/open-source/" title="We believe in the importance of open source." class="menu-header menu-item--link">Open Source</a></li>
    </ul>
</nav>