<div class="hidden lg:block z-18 sticky-container" data-sticky-container="data-sticky-container" id="top" style="height: 50px;">
    <div id="stickyNav" class="subnav sticky sticky-nav is-anchored fixed top-0 p-3" data-options="marginTop:0; topAnchor:top; activeClass:active; stickyOn:medium-large;" data-sticky="data-sticky" data-theme="light" data-resize="22jy2u-sticky" data-mutate="22jy2u-sticky" data-e="ur1rvh-e" data-events="mutate" style="max-width: 1541px; margin-top: 0px; bottom: auto; top: 0px;">
        <ul class="menu menu-secondary items-center justify-center" data-magellan="data-magellan" data-resize="0cb2i7-magellan" data-scroll="0cb2i7-magellan" id="0cb2i7-magellan" data-e="jp5jui-e" data-events="resize">
            <li>
                <nav aria-label="You are here:" role="navigation">
                    <ul class="breadcrumbs flex items-center m-0">
                        <li><a href="/">Home</a></li>
                        <li><a href="/" title="Learn more about Company">Company</a></li>
                        <li><span class="show-for-sr">Current: </span>About</li>
                    </ul>
                </nav>
            </li>
            <li class="menu-item"><a class="menu-item--link" href="#about" title="About us">About us</a></li>
            <li class="menu-item"><a class="menu-item--link" href="#stats" title="By the numbers">By the numbers</a></li>
            <li class="menu-item"><a class="menu-item--link" href="#careers" title="Careers">Careers</a></li>
        </ul>
    </div>
</div>