<div class="bg-gray-12 container-image-fill lozad loaded" data-background-image="https://images.ctfassets.net/189dvqdsjh46/50WC8N3lz2k0K4o0WQYE4A/96d25d0d7f385f8cfc82950e78285a8a/hex-pattern-light-bg.svg" data-loaded="true" style="background-image: url(&quot;https://images.ctfassets.net/189dvqdsjh46/50WC8N3lz2k0K4o0WQYE4A/96d25d0d7f385f8cfc82950e78285a8a/hex-pattern-light-bg.svg&quot;);">
    {{ partial:about/masthead-nav }}
    {{ partial:about/masthead-sticky-nav }}
    {{ partial:about/masthead-main }}
</div>

<div class="strip-bright h-1"></div>