{{ if button_label }}
<a href="#{{ button_anchor }}"
   class="button {{ button_classes }}">
    {{ button_label }}
    {{ if button_icon }}
    {{ svg src="{{ button_icon }}" class="icon-inline slide-down fill-current" a11y="arrow" }}
    {{ /if }}
</a>
{{ /if }}
{{ if button_url }}
<a href="{{ button_url }}"
   class="button {{ button_classes }}">
    {{ button_label }}
    {{ if button_icon }}
    {{ svg src="{{ button_icon }}" class="icon-inline slide-down fill-current" a11y="arrow" }}
    {{ /if }}
</a>
{{ /if}}