<!-- block: feature_blocks_set -->
<section class="blocks block-feature lozad bg-cover 
    {{ if color_theme }} bg-{{ color_theme }}{{ /if }}"
    {{ if block_bg_image }}
        {{ assets:block_bg_image }}data-background-image="{{ glide:id width="1200" height="1200" }}" {{ /assets:block_bg_image }} 
    {{ /if }}
    >
    <div class="w-full max-w-6xl mx-auto pad-scale">
        <div class="w-full lg:max-w-2xl mx-auto text-center">
            {{ if set_title }}
                {{ set_title | wrap:h2.headline-3 }}
            {{ /if }}
            {{ if set_subhead }}
                {{ set_subhead | wrap:h2.headline-3 }}
            {{ /if }}
            {{ if set_body }}
                {{ set_body | markdown | wrap:div.block-content.text-xl }}
            {{ /if }}
        </div>
        <div class="block-feature--set">
            {{ if set_blocks }}
                {{ set_blocks }}
                    <div class="block-feature--set-block w-full flex">
                        <div class="block-feature--set-item w-full md:w-1/2 lg:w-2/5">
                            {{ if item_art }}
                            <img class="lozad w-auto mb-4 h-48" 
                                {{#{{ assets:item_art }}data-src="{{ glide:id height="200" }}" src="{{ glide:id height="200" height="200" crop="focal_crop" quality="10" }}" {{ /assets:item_art }}
                                #}}
                                data-src="{{ assets:item_art }}{{ item_art }}{{ /assets:item_art }}" 
                                src="/assets/site/loader-rect.svg"

                            />
                                {{# svg src="{ item_art }" class="fill-current icon-inline {{ if icon_align != 'right' }} {{ icon_align }}{{ /if }}" a11y="icon" #}}
                            {{ /if }}
                            {{ if item_header }}
                                {{ item_header | wrap:h3.headline-4.mb-4 }}
                            {{ /if }}
                            {{ if item_content }}
                                {{ item_content | markdown | wrap:div.text-lg.item-content }}
                            {{ /if }}
                        </div>
                    </div>
                {{ /set_blocks }}
            {{ /if }}
        </div>
    </div>
</section>
{{# move these to stylesheets #}}
<style>
    .block-col-text .block-col-text--item {
        margin-right: 1rem;
    }
    .block-feature--set-block:nth-child(2n) {
        justify-content: flex-end;
    }
</style>