<!-- block: text_image -->
<section class="blocks block-text-image pad-scale-y-lg w-full {{ classes }} text-{{ color_theme }}"
         style="background-image: url({{ block_bg_image }}); background-size: cover; background-repeat: no-repeat"
>
    <div class="p-4 md:p-6 lg:p-3 w-full max-w-6xl mx-auto flex flex-col md:flex-row justify-center items-center">
        <div class="w-auto mb-6 md:w-1/2 md:pr-12">
            <h2 class="headline-3 ">
                {{ block_title }}
            </h2>
            {{ block_body | markdown | wrap:div.text-xl.inline-content }}
            {{ partial src='sets/_buttons' }}
        </div>
        <div class="w-auto md:w-1/2">
            {{ if block_image }}
            <figure>
                <img class="lozad w-auto"
                {{ assets:block_image }}
                data-src="{{ glide:id width="800" }}" src="{{ glide:id width="800" quality="10" }}"
                {{ /assets:block_image }}
                {{# src="/assets/site/loader-rect.svg" #}}
                />
                {{ if block_image_caption }}
                <figcaption class="text-xs mt-2 text-center markdown">
                    {{ block_image_caption | markdown }}
                </figcaption>
                {{ /if }}
            </figure>
            {{ /if }}
        </div>
    </div>
</section>