/* Converted Tailwind Config to scss */
$colors-transparent: transparent;
$colors-white: #ffffff;
$colors-black: #000000;
$colors-gray-100: #f7fafc;
$colors-gray-200: #edf2f7;
$colors-gray-300: #e2e8f0;
$colors-gray-400: #cbd5e0;
$colors-gray-500: #a0aec0;
$colors-gray-600: #718096;
$colors-gray-700: #4a5568;
$colors-gray-800: #2d3748;
$colors-gray-900: #1a202c;
$colors-purple-default: #D73BFF;
$colors-purple-dark: #9B00FF;
$colors-purple-light: #5C00EB;
$colors-green-default: #718765;
$colors-green-dark: #27516C;
$colors-green-light: #709DC9;
$colors-green-bright: #718765;
$colors-blue-default: #6689AB;
$colors-blue-dark: #27516C;
$colors-blue-light: #709DC9;

$screens-sm: 576px;
$screens-md: 768px;
$screens-lg: 992px;
$screens-xl: 1200px;
$screens-xxl: 1600px;

$fontFamily-sans: ("GT America",system-ui,sans-serif);
$fontFamily-serif: ("Source Serif Pro",Georgia,serif);
$fontFamily-mono: (Menlo,Monaco,Consolas,Liberation Mono,monospace);

$fontSize-xs: 0.75rem;
$fontSize-sm: 0.875rem;
$fontSize-base: 1rem;
$fontSize-lg: 1.125rem;
$fontSize-xl: 1.25rem;
$fontSize-2xl: 1.5rem;
$fontSize-3xl: 1.875rem;
$fontSize-3xl-scale: calc(1.5vw + 1.125rem);
$fontSize-4xl: 2.25rem;
$fontSize-4xl-scale: calc(2vw + 1.375rem);
$fontSize-5xl: 3rem;
$fontSize-5xl-scale: calc(2vw + 2.5rem);
$fontSize-6xl: 5rem;
$fontSize-6xl-scale: calc(2vw + 3rem);

$fontWeight-light: 300;
$fontWeight-normal: 400;
$fontWeight-bold: 700;

$lineHeight-none: 1;
$lineHeight-tighter: 1.15;
$lineHeight-tight: 1.35;
$lineHeight-normal: 1.6;
$lineHeight-relaxed: 1.8;
$lineHeight-loose: 2;

$spacing-0: 0;
$spacing-1: 0.25rem;
$spacing-2: 0.5rem;
$spacing-3: 0.75rem;
$spacing-4: 1rem;
$spacing-5: 1.25rem;
$spacing-6: 1.5rem;
$spacing-8: 2rem;
$spacing-10: 2.5rem;
$spacing-12: 3rem;
$spacing-16: 4rem;
$spacing-20: 5rem;
$spacing-24: 6rem;
$spacing-32: 8rem;
$spacing-40: 10rem;
$spacing-48: 12rem;
$spacing-56: 14rem;
$spacing-64: 16rem;
$spacing-px: 1px;

$backgroundColor-transparent: transparent;
$backgroundColor-white: #ffffff;
$backgroundColor-black: #000000;
$backgroundColor-gray-100: #f7fafc;
$backgroundColor-gray-200: #edf2f7;
$backgroundColor-gray-300: #e2e8f0;
$backgroundColor-gray-400: #cbd5e0;
$backgroundColor-gray-500: #a0aec0;
$backgroundColor-gray-600: #718096;
$backgroundColor-gray-700: #4a5568;
$backgroundColor-gray-800: #2d3748;
$backgroundColor-gray-900: #1a202c;
$backgroundColor-purple-default: #D73BFF;
$backgroundColor-purple-dark: #9B00FF;
$backgroundColor-purple-light: #5C00EB;
$backgroundColor-green-default: #718765;
$backgroundColor-green-dark: #27516C;
$backgroundColor-green-light: #709DC9;
$backgroundColor-green-bright: #718765;
$backgroundColor-blue-default: #6689AB;
$backgroundColor-blue-dark: #27516C;
$backgroundColor-blue-light: #709DC9;

$backgroundPosition-bottom: bottom;
$backgroundPosition-center: center;
$backgroundPosition-left: left;
$backgroundPosition-left-bottom: left bottom;
$backgroundPosition-left-top: left top;
$backgroundPosition-right: right;
$backgroundPosition-right-bottom: right bottom;
$backgroundPosition-right-top: right top;
$backgroundPosition-top: top;

$backgroundSize-auto: auto;
$backgroundSize-cover: cover;
$backgroundSize-contain: contain;

$borderColor-transparent: transparent;
$borderColor-white: #ffffff;
$borderColor-black: #000000;
$borderColor-gray-100: #f7fafc;
$borderColor-gray-200: #edf2f7;
$borderColor-gray-300: #e2e8f0;
$borderColor-gray-400: #cbd5e0;
$borderColor-gray-500: #a0aec0;
$borderColor-gray-600: #718096;
$borderColor-gray-700: #4a5568;
$borderColor-gray-800: #2d3748;
$borderColor-gray-900: #1a202c;
$borderColor-purple-default: #D73BFF;
$borderColor-purple-dark: #9B00FF;
$borderColor-purple-light: #5C00EB;
$borderColor-green-default: #718765;
$borderColor-green-dark: #27516C;
$borderColor-green-light: #709DC9;
$borderColor-green-bright: #718765;
$borderColor-blue-default: #6689AB;
$borderColor-blue-dark: #27516C;
$borderColor-blue-light: #709DC9;
$borderColor-default: #e2e8f0;

$borderRadius-none: 0;
$borderRadius-sm: 0.125rem;
$borderRadius-default: 0.25rem;
$borderRadius-lg: 0.5rem;
$borderRadius-full: 9999px;

$borderWidth-0: 0;
$borderWidth-2: 2px;
$borderWidth-4: 4px;
$borderWidth-8: 8px;
$borderWidth-default: 1px;

$boxShadow-default: (0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06));
$boxShadow-md: (0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06));
$boxShadow-lg: (0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05));
$boxShadow-xl: (0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04));
$boxShadow-2xl: (0 25px 50px -12px rgba(0, 0, 0, 0.25));
$boxShadow-inner: (inset 0 2px 4px 0 rgba(0, 0, 0, 0.06));
$boxShadow-outline: (0 0 0 3px rgba(66, 153, 225, 0.5));
$boxShadow-none: none;


$cursor-auto: auto;
$cursor-default: default;
$cursor-pointer: pointer;
$cursor-wait: wait;
$cursor-text: text;
$cursor-move: move;
$cursor-not-allowed: not-allowed;

$fill-current: currentColor;

$flex-1: 1 1 0%;
$flex-auto: 1 1 auto;
$flex-initial: 0 1 auto;
$flex-none: none;

$flexGrow-0: 0;
$flexGrow-default: 1;

$flexShrink-0: 0;
$flexShrink-default: 1;

$height-0: 0;
$height-1: 0.25rem;
$height-2: 0.5rem;
$height-3: 0.75rem;
$height-4: 1rem;
$height-5: 1.25rem;
$height-6: 1.5rem;
$height-8: 2rem;
$height-10: 2.5rem;
$height-12: 3rem;
$height-16: 4rem;
$height-20: 5rem;
$height-24: 6rem;
$height-32: 8rem;
$height-40: 10rem;
$height-48: 12rem;
$height-56: 14rem;
$height-64: 16rem;
$height-auto: auto;
$height-px: 1px;
$height-full: 100%;
$height-screen: 100vh;

$inset-0: 0;
$inset-auto: auto;

$letterSpacing-tighter: -0.05em;
$letterSpacing-tight: -0.025em;
$letterSpacing-normal: 0;
$letterSpacing-wide: 0.025em;
$letterSpacing-wider: 0.05em;
$letterSpacing-widest: 0.1em;

$listStyleType-none: none;
$listStyleType-disc: disc;
$listStyleType-decimal: decimal;

$margin-0: 0;
$margin-1: 0.25rem;
$margin-2: 0.5rem;
$margin-3: 0.75rem;
$margin-4: 1rem;
$margin-5: 1.25rem;
$margin-6: 1.5rem;
$margin-8: 2rem;
$margin-10: 2.5rem;
$margin-12: 3rem;
$margin-16: 4rem;
$margin-20: 5rem;
$margin-24: 6rem;
$margin-32: 8rem;
$margin-40: 10rem;
$margin-48: 12rem;
$margin-56: 14rem;
$margin-64: 16rem;
$margin-auto: auto;
$margin-px: 1px;
$margin--1: -0.25rem;
$margin--2: -0.5rem;
$margin--3: -0.75rem;
$margin--4: -1rem;
$margin--5: -1.25rem;
$margin--6: -1.5rem;
$margin--8: -2rem;
$margin--10: -2.5rem;
$margin--12: -3rem;
$margin--16: -4rem;
$margin--20: -5rem;
$margin--24: -6rem;
$margin--32: -8rem;
$margin--40: -10rem;
$margin--48: -12rem;
$margin--56: -14rem;
$margin--64: -16rem;
$margin--px: -1px;

$maxHeight-full: 100%;
$maxHeight-screen: 100vh;

$maxWidth-xs: 20rem;
$maxWidth-sm: 24rem;
$maxWidth-md: 28rem;
$maxWidth-lg: 32rem;
$maxWidth-xl: 36rem;
$maxWidth-2xl: 42rem;
$maxWidth-3xl: 48rem;
$maxWidth-4xl: 56rem;
$maxWidth-5xl: 64rem;
$maxWidth-6xl: 72rem;
$maxWidth-full: 100%;
$maxWidth-7xl: 96rem;

$minHeight-0: 0;
$minHeight-full: 100%;
$minHeight-screen: 100vh;

$minWidth-0: 0;
$minWidth-full: 100%;

$objectPosition-bottom: bottom;
$objectPosition-center: center;
$objectPosition-left: left;
$objectPosition-left-bottom: left bottom;
$objectPosition-left-top: left top;
$objectPosition-right: right;
$objectPosition-right-bottom: right bottom;
$objectPosition-right-top: right top;
$objectPosition-top: top;

$opacity-0: 0;
$opacity-25: 0.25;
$opacity-50: 0.5;
$opacity-75: 0.75;
$opacity-100: 1;

$order-1: 1;
$order-2: 2;
$order-3: 3;
$order-4: 4;
$order-5: 5;
$order-6: 6;
$order-7: 7;
$order-8: 8;
$order-9: 9;
$order-10: 10;
$order-11: 11;
$order-12: 12;
$order-first: -9999;
$order-last: 9999;
$order-none: 0;

$padding-0: 0;
$padding-1: 0.25rem;
$padding-2: 0.5rem;
$padding-3: 0.75rem;
$padding-4: 1rem;
$padding-5: 1.25rem;
$padding-6: 1.5rem;
$padding-8: 2rem;
$padding-10: 2.5rem;
$padding-12: 3rem;
$padding-16: 4rem;
$padding-20: 5rem;
$padding-24: 6rem;
$padding-32: 8rem;
$padding-40: 10rem;
$padding-48: 12rem;
$padding-56: 14rem;
$padding-64: 16rem;
$padding-px: 1px;

$placeholderColor-transparent: transparent;
$placeholderColor-white: #ffffff;
$placeholderColor-black: #000000;
$placeholderColor-gray-100: #f7fafc;
$placeholderColor-gray-200: #edf2f7;
$placeholderColor-gray-300: #e2e8f0;
$placeholderColor-gray-400: #cbd5e0;
$placeholderColor-gray-500: #a0aec0;
$placeholderColor-gray-600: #718096;
$placeholderColor-gray-700: #4a5568;
$placeholderColor-gray-800: #2d3748;
$placeholderColor-gray-900: #1a202c;
$placeholderColor-purple-default: #D73BFF;
$placeholderColor-purple-dark: #9B00FF;
$placeholderColor-purple-light: #5C00EB;
$placeholderColor-green-default: #718765;
$placeholderColor-green-dark: #27516C;
$placeholderColor-green-light: #709DC9;
$placeholderColor-green-bright: #718765;
$placeholderColor-blue-default: #6689AB;
$placeholderColor-blue-dark: #27516C;
$placeholderColor-blue-light: #709DC9;

$stroke-current: currentColor;

$textColor-transparent: transparent;
$textColor-white: #ffffff;
$textColor-black: #000000;
$textColor-gray-100: #f7fafc;
$textColor-gray-200: #edf2f7;
$textColor-gray-300: #e2e8f0;
$textColor-gray-400: #cbd5e0;
$textColor-gray-500: #a0aec0;
$textColor-gray-600: #718096;
$textColor-gray-700: #4a5568;
$textColor-gray-800: #2d3748;
$textColor-gray-900: #1a202c;
$textColor-purple-default: #D73BFF;
$textColor-purple-dark: #9B00FF;
$textColor-purple-light: #5C00EB;
$textColor-green-default: #718765;
$textColor-green-dark: #27516C;
$textColor-green-light: #709DC9;
$textColor-green-bright: #718765;
$textColor-blue-default: #6689AB;
$textColor-blue-dark: #27516C;
$textColor-blue-light: #709DC9;

$width-0: 0;
$width-1: 0.25rem;
$width-2: 0.5rem;
$width-3: 0.75rem;
$width-4: 1rem;
$width-5: 1.25rem;
$width-6: 1.5rem;
$width-8: 2rem;
$width-10: 2.5rem;
$width-12: 3rem;
$width-16: 4rem;
$width-20: 5rem;
$width-24: 6rem;
$width-32: 8rem;
$width-40: 10rem;
$width-48: 12rem;
$width-56: 14rem;
$width-64: 16rem;
$width-auto: auto;
$width-px: 1px;
$width-1\/2: 50%;
$width-1\/3: 33.333333%;
$width-2\/3: 66.666667%;
$width-1\/4: 25%;
$width-2\/4: 50%;
$width-3\/4: 75%;
$width-1\/5: 20%;
$width-2\/5: 40%;
$width-3\/5: 60%;
$width-4\/5: 80%;
$width-1\/6: 16.666667%;
$width-2\/6: 33.333333%;
$width-3\/6: 50%;
$width-4\/6: 66.666667%;
$width-5\/6: 83.333333%;
$width-1\/12: 8.333333%;
$width-2\/12: 16.666667%;
$width-3\/12: 25%;
$width-4\/12: 33.333333%;
$width-5\/12: 41.666667%;
$width-6\/12: 50%;
$width-7\/12: 58.333333%;
$width-8\/12: 66.666667%;
$width-9\/12: 75%;
$width-10\/12: 83.333333%;
$width-11\/12: 91.666667%;
$width-full: 100%;
$width-screen: 100vw;

$zIndex-0: 0;
$zIndex-10: 10;
$zIndex-20: 20;
$zIndex-30: 30;
$zIndex-40: 40;
$zIndex-50: 50;
$zIndex-auto: auto;
