/* Sass vars - pull from config('thing.item'); or set SCSS vars */

$speed-default: 150ms;

$color-facebook:  #1e61ff;
$color-twitter:   #1da1f2;
$color-pinterest: #bd081c;
$color-rss:       orange;
$color-youtube:   red;

:root {
    --bg-light: theme('colors.gray.100');
//     --screen-sm: theme('screens.sm');
//     --screen-md: theme('screens.md');
//     --screen-lg: theme('screens.lg');
//     --screen-xl: theme('screens.xl');
//     --screen-xxl: theme('screens.xxl');
}
