/* Sass vars - pull from config('thing.item'); or set SCSS vars */

$speed-default: 150ms;

$color-facebook:  #1e61ff;
$color-twitter:   #1da1f2;
$color-pinterest: #bd081c;
$color-rss:       orange;
$color-youtube:   red;

// :root {
//     --screen-sm
// }