$gutter: 1.5rem;
.card-gallery { // inspired by https://uxdesign.cc/creating-horizontal-scrolling-containers-the-right-way-css-grid-c256f64fc585
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    scroll-snap-type: x proximity;
    scroll-snap-points-x: repeat(100%);
    scroll-snap-type: mandatory;
    scroll-snap-destination: 100% 0%;
    padding-bottom: .75 * $gutter;
    margin-bottom: .25 * $gutter;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
       display: none;
    }
    &:before,
    &:after {
        content: '';
        width: 100px;
    }
}
.gallery-item {
    scroll-snap-align: center;
    // padding: $gutter * 1.5;
    transition: all $speed-default;
    &:nth-last-child {
        margin-right: 5rem;
    }
    // &:hover {
    //     opacity: 1 !important;
    //     filter: blur(0) !important;
    //     .flag {
    //         transform: translate3d(4rem, -4rem, 0) rotate(45deg); // greater the offset value here, smaller the 'tag' is
    //     }
    // }
 }
.no-scrollbar {
    scrollbar-width: none;
    margin-bottom: 0;
    padding-bottom: 0;
    &::-webkit-scrollbar {
        display: none;
    }
}