$link-color-default: config('colors.green-dark') !default;
$underline: false !default;
// ex. @include link-colors (white, $color_prime-bright, true);
@mixin link-colors($color: $link-color-default, $hover-color: $link-color-default, $has-underline: $underline) {
    font-weight: config('fontWeight.regular');
    transition: border-bottom .15s linear, color .15s linear;
    color: $color !important;
    @if $has-underline==true {
        border-bottom: 2px solid transparentize($hover-color, 0.7);
    }
    &:hover {
        color: $hover-color !important;
        @if $has-underline==true {
            border-bottom: 2px solid transparentize($hover-color, 0);
        }
    }
}

/* Utility classes - for @extend or other use downstream */

@mixin button-shadow ($size: 4px, $start: 0.2) {
	// transition: all $speed-default linear;
    box-shadow: 1px 1px $size * 0.125 0 rgba(0,0,0,$start / 2), 4px 4px $size * 0.5 0 rgba(0,0,0,$start);
    &:hover {
        @apply .border-transparent .shadow-lg;
        box-shadow: 0 $size * 0.6 $size 0 rgba(0,0,0,0.3);
    }
}
@mixin grid-square ($squares: 2) {
	grid-column-end: span $squares;
    grid-row-end:    span $squares;
}
@mixin bg-blur ($blur: 5px) {
    backdrop-filter: blur($blur);  
    -webkit-backdrop-filter: blur($blur);
}

@mixin blur($r){ // covers most browsers...
    // $r: $radius * 1px;
    filter: blur($r); /* Someday, sigh ... */
    // filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='$radius'); /* IE lte 9 */
}

/*
|--------------------------------------------------------------------------
| Aspect Ratio
|
| Use for images and iframes to work with a fluid width and set height.
| This is pulled directly from http://getbootstrap.com
|--------------------------------------------------------------------------
*/

@mixin aspect-ratio($w, $h) {
    position: relative;
    &:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: ($h / $w) * 100%;
    }
    > * {
        position: absolute;
        top: 0;

        display: block;
        width: 100%;
    }
}

@mixin mask-right {
    mask: linear-gradient(-90deg, rgba(0,0,0,0) 3%, rgba(0,0,0,1) 15%);
    -webkit-mask: linear-gradient(-90deg, rgba(0,0,0,0) 3%, rgba(0,0,0,1) 15%);
    // @media screen and (min-width: 640px) {
    //    mask: linear-gradient(-90deg, rgba(0,0,0,0) 3%, rgba(0,0,0,1) 20%);
    //    -webkit-mask: linear-gradient(-90deg, rgba(0,0,0,0) 3%, rgba(0,0,0,1) 20%);
    // }
}

@mixin gradient-bright ($dir: to right) { // super-saturated green-blue-purple for accent strips like .strip-bright
    background: ($dir, hsl(187,100%,50%) 1%, hsl(194,100%,50%) 22%, hsl(278,100%,50%) 100%);
    color: white;
}
@mixin gradient-blue-purple($dir: to right) {
    /* blue to blue-purple */
    background: linear-gradient($dir, #4CC0F1 6.72%, #6929D1 96.96%);
    color: white;
}
@mixin gradient-blue-green($dir: to right) {
    /* blue-green */
    background: linear-gradient($dir, #008FDF -5.71%, #00E3BA 82.93%);
    color: white;
}
@mixin gradient-purple($dir: to right) {
    /* blue-purple */
    background: linear-gradient($dir, #4C66F1 2.29%, #D129C3 98.71%);
    color: white;
}
@mixin gradient-reds($dir: to right) {
    /* orange-red */
    background: linear-gradient($dir, #E85C86 16.59%, #EC7474 59.68%, #FFC177 99.57%);
    /* red-purple - orange */
    // background: linear-gradient($dir, #DD48AA 16.59%, #FFE177 99.57%);
    color: white;
}
@mixin gradient-services($dir: to right) {
    /* red - pale green */
    background: linear-gradient($dir, #E6699E 13.96%, #7AB2E9 57.53%, #08E1D4 96.11%);
    color: white;
}
@mixin gradient-greens($dir: to right) {
    /* Green Grad (Emissary) */
    // background: linear-gradient(169.97deg, #00ff8b -5.71%, #00BBC7 82.93%);
    background: linear-gradient($dir, #00EE7B -4.44%, #00DAF8 95.67%);
    color: black;
}
@mixin gradient-greens-dark($dir: to right) {
    /* Green Grad (Emissary) */
    background: linear-gradient($dir, #3FBA72 3.31%, #00AFAF 100.72%);
    color: white;
}