/*
|--------------------------------------------------------------------------
| Buttons
button-primary button-hollow button-hollow-white button-hollow-dark button-large
|--------------------------------------------------------------------------
*/
.button {
    @apply py-2 px-4 text-white font-medium rounded no-underline;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    @apply bg-green;
    &:hover {
        @apply bg-green-light;
        .icon-inline.slide-right {
            transform: translate3d(3px,0,0);
        }
        .icon-inline.slide-left {
            transform: translate3d(-3px,0,0);
        }
    }
    &:hover, &:focus {
        transform: translate3d(0, -3px, 0);
    }
    &-primary {
        transform: scale3d(1.015, 1.015, 1.015);
        //@extend .trans-color;
        // @include button-shadow (10px, 0.2);
        @apply bg-green;
        &:hover {
            @apply bg-green-light;
        }
    }
    &-light {
        @apply text-black;
        background-image: -webkit-linear-gradient(to bottom,white 0%,#f2f2f2 100%);
        background-image: -o-linear-gradient(to bottom,white 0%,#f2f2f2 100%);
        background-image: linear-gradient(to bottom,white 0%,#f2f2f2 100%);
    }
    &-hollow {
        @apply bg-transparent border border-solid;
        &:hover {
            @apply text-black;
        }
    }
    &-hollow-white {
        @apply bg-transparent border border-solid border-white text-white;
        &:hover {
            @apply text-green-bright border-green-bright bg-transparent;
        }
    }
    &-hollow-dark {
        @apply bg-transparent border border-solid border-green-dark text-green-dark;
        // &:hover {
        //     @apply border-2;
        // }
    }
    &-large {
        @apply text-base px-5 py-4;
        // padding-bottom: 0.974rem;
    }
    &-no-shadow {
        box-shadow: 0 0 0 0 rgba(0,0,0,0);
    }
}