// codepen prototype: https://codepen.io/allanwhite/pen/EqyypG

$offset-accent: 2rem; // pulls accent images off a bit
$offset-card: 4rem; // moves white text card inset

.image-block-text--accent {
    top: $offset-accent;
    left: $offset-accent;
    background-size: 60%;
    background-position: right bottom;
}
.image-block-text {
    transition: box-shadow 200ms;
}
.content-blocks .type-block_image_content { // gives ALL of these a margin-top... take note
    margin-top: 2rem;
    margin-bottom: 2rem;
    @screen lg {
        margin-top: calc(2rem + 4vw);
        margin-bottom: calc(2rem + 4vw);
    }
}
@screen md {
    .image-block-text--box {
        margin-left: -$offset-card;
    }
    // when these are stacked, alter the flex row direction every other one
    .content-blocks .type-block_image_content + .type-block_image_content:nth-child(2n + 1) {
        flex-direction: row-reverse;
        // .image-block-text {
        //     right: -$offset-card;
        // }
        .image-block-text--box {
            // margin-right: -3rem;
            left: $offset-card;
        }
        .image-block-text--accent {
            left: -$offset-accent;
            bottom: -$offset-accent;
            background-size: 50%;
            background-position: left bottom;
        }
    }
}
.collection { // image-content-block, alternating lists
    .image-block-basic + .image-block-basic:nth-child(2n) {
        flex-direction: row-reverse;
    }
}

// inspired by https://tobiasahlin.com/blog/how-to-animate-box-shadow/ for better perf and scaling
.box-hover {
    position: relative;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0);
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box-hover::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box-hover:hover {
    transform: scale3D(1.03, 1.03, 1.03);
}

.box-hover:hover::after {
    opacity: 1;
}
.card-accent {
    border: solid transparent;
    border-width: 0 0 16px 0;
    // pass border-image from markup
    // border-image: url('https://source.unsplash.com/collection/6816626/400x200') 30 stretch;
}