/*
|--------------------------------------------------------------------------
| Buttons
|--------------------------------------------------------------------------
*/

// .btn {
//     @apply px-1.75 py-1 bg-grey-200 uppercase no-underline text-base tracking-extra-wide;
//     background-color: turquoise;
//     cursor: pointer;
//     &:hover {
//         @apply bg-white;
//     }
//     &--primary {
//         @apply bg-black text-white;
//         &:hover {
//             @apply bg-grey-700;
//         }
//     }
// }

.btn {
    @apply px-5 py-3 text-base tracking-wide leading-none bg-gold-dark text-white font-sans font-normal no-underline;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    &-primary {
        transform: scale3d(1.015, 1.015, 1.015);
        //@extend .trans-color;
        @include button-shadow (10px, 0.2);
        &:hover {
            @apply bg-gold;
        }    
    }
    &-hollow {
        @apply bg-transparent border border-solid border-gold-dark text-gold-dark;
        &:hover {
            @apply text-black;
        }
    }
    &-hollow-white {
        @apply bg-transparent border border-solid border-white text-white;
        // &:hover {
        //     @apply border-2;
        // }
    }
    &-hollow-dark {
        @apply bg-transparent border border-solid border-blue-dark text-blue-dark;
        // &:hover {
        //     @apply border-2;
        // }
    }
    &-large {
        @apply text-base px-5 py-4;
        // padding-bottom: 0.974rem;
    }
    &-no-shadow {
        box-shadow: 0 0 0 0 rgba(0,0,0,0);
    }
}