/*
|--------------------------------------------------------------------------
| Wysiwyg/markdown block styling
|
| Add styling to tags that are output by a wysiwyg or markdown editor
|--------------------------------------------------------------------------
*/

.markdown {
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold;
  }
  h1, h2 {

  }
  h3 {

  }
  h4 {

  }
  h5 {

  }
  h6 {

  }
  ul {
    @apply mb-4;
    list-style: disc;
  }

  ol {
    @apply mb-4;
    list-style: decimal;
  }

  li {
    @apply mb-1 ml-8;
    font-size: inherit;
  }

  b,
  strong {
    @apply font-bold;
  }
  img {
    margin: 2rem 0 1rem 0;
  }
  p {
    @apply text-base mb-4;
    // font-size: smaller;
    // margin-bottom: 0.7em;
  }
  blockquote, blockquote p {
    @apply text-gray-700 my-10 ml-4 text-lg font-serif;
  }
}
